.donation-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  h2 {
    font-family: "Rubik Bubbles";
    text-align: center;
    margin-bottom: 24px;
    word-spacing: 8px;
  }
  .donation-details-selector {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-evenly;
    .donation-details-selector-constituent {
      display: flex;
      align-self: center;
      .css-b62m3t-container {
        min-width: 160px;
      }
      span {
        margin-right: 12px;
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
        font-family: "Righteous";
      }
    }
    .donation-details-selector-support{
      .css-b62m3t-container {
        min-width: 200px;
      }
    }
  }
  .donation-details-table {
    width: 90%;
    max-height: 62vh;
    display: flex;
    justify-content: center;
    overflow: scroll;
    margin: 0 auto;
    table {
      border: 2px solid rgba(0, 0, 0, 0.3);
      width: 100%;
      height: fit-content;
      background-color: white;
      th {
        border-bottom: 1px solid black;
        text-align: justify;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 8px;
      }

      td {
        text-align:justify;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 10px;
        font-weight: 600;
        button {
          margin-right: 8px;
        }
      }
      .donation-details-heading,.donation-detail-total {
        font-family: "Lilita One";
        letter-spacing: 0.75px;
      }

      .donation-table-odd {
        background-color: rgba(0, 0, 0, 0.1);
      }
      .donation-disease {
        color: orangered;
      }
      .donation-disease-none{
        color: rgba(0, 0, 0,0.5);
      }

      .donation-id {
        color: green;
        font-weight: bold;
      }
      .donation-status {
        display: flex;
        justify-content: center;
      }
    }
  }
}
